@model List<UseTodoApi.Models.TodoList>
@{
    Layout = "_Layout";
}

<div class="container" style="text-align:center">
    <h1>Lists:</h1>
    @foreach (var item in Model)
    {
        <h2>@item.Name</h2>
    }
</div>